input[type="submit"] {
    background-color: #007900;
    border: 1px solid #007900;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    height: fit-content;
    cursor: pointer;
    transition: opacity 0.2s;
    color: white;
    font-size: 14px;

}

input[type="submit"]:hover {
    opacity: 90%;
    cursor: pointer;
}
